<div class="h-full" data-controller="signing--new">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <%= image_tag("logo.png", alt: "Company Logo", class: "mx-auto h-20 w-auto") %>
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign up to your account</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_with url: signing_index_path, method: :post, scope: :signing_user, class: "space-y-6" do |form| %>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%= form.label :first_name, "First Name", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2 shadow-sm">
              <%= form.text_field :first_name, value: @user_data[:first_name], placeholder: "Enter First Name", class: "block w-full rounded-md border-0 py-1.5 pl-7 pr-5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
            </div>
            <% if @errors[:user_first_name].present? %>
              <%= form.label @errors[:user_first_name].first, class: "text-sm text-red-500" %>
            <% end %>
          </div>
          <div class="sm:col-span-3">
            <%= form.label :last_name, "Last Name", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2 shadow-sm">
              <%= form.text_field :last_name, value: @user_data[:last_name], placeholder: "Enter Last Name", class: "block w-full rounded-md border-0 py-1.5 pl-7 pr-5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
            </div>
            <% if @errors[:user_last_name].present? %>
              <%= form.label @errors[:user_last_name].first, class: "text-sm text-red-500" %>
            <% end %>
          </div>
        </div>
        <div>
          <%= form.label :personal_email, "Personal Email", id: "em_tag", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2 shadow-sm">
            <%= form.text_field :personal_email, type: 'email', value: @user_data[:personal_email], placeholder: "Enter your personal email", class: "block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
          </div>
          <% if @errors[:user_personal_email].present? %>
            <%= form.label @errors[:user_personal_email].first, class: "text-sm text-red-500" %>
          <% end %>
        </div>
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%= form.label :name, "Organization name", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= form.text_field :name, type: 'text', value: @user_data[:name], placeholder: "Enter your organization name", class: "block w-full rounded-md border-0 py-1.5 pl-7 pr-5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
            </div>
            <% if @errors[:administration_name].present? %>
              <%= form.label @errors[:administration_name].first, class: "text-sm text-red-500" %>
            <% end %>
          </div>
          <div class="sm:col-span-3">
            <%= form.label :email_identifier, "Email identifier", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2 flex items-center">
              <p class="inset-y-0 left-0 p-1.5 items-center mb-auto mt-auto text-gray-500 rectangle-r-md rounded-l-md  border-0 ring-1 ring-inset ring-gray-300 w-auto">@</p>
              <%= form.text_field :email_identifier, id: "email_identifier", type: 'text', value: @user_data[:email_identifier], placeholder: "Enter your organization Email", class: "flex w-full rounded-r-md rectangle-l-md border-0 py-1.5 pl-2 pr-5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
            </div>
            <% if @errors[:administration_email_identifier].present? %>
              <%= form.label @errors[:administration_email_identifier].first, class: "text-sm text-red-500" %>
            <% end %>
          </div>
        </div>
        <div>
          <%= form.label :email, "Organization Email", id: "em_tag", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2 flex items-center">
            <%= form.text_field :email, type: 'text',value: @user_data[:email], placeholder: "Enter your organization email", class: "block w-full rounded-l-md rectangle-r-md border-0 py-1.5 pl-7 pr-7 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
            <p id = "identifier" class="inset-y-0 left-0 p-1.5 items-center mb-auto mt-auto text-gray-500 rectangle-l-md rounded-r-md  border-0 ring-1 ring-inset ring-gray-300 w-auto"><%= ((!@user_data[:email_identifier].present? || @user_data[:email_identifier].empty?) ? "@example.com" : "@" + @user_data[:email_identifier])  %></p>
          </div>
          <% if @errors[:user_email].present? %>
            <%= form.label @errors[:user_email].first, class: "text-sm text-red-500" %>
          <% end %>
        </div>
        <div>
          <%= form.label :password, "Password", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="relative mt-2 rounded-md shadow-sm">
            <%= form.text_field :password, id:"password", type: 'password', value: @user_data[:password], placeholder: "Enter your password", class: "block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
            <div  id="password_view">
              <i class="fa-regular fa-eye absolute inset-y-0 right-0 flex items-center mr-2 mb-auto mt-auto text-gray-500"></i>
            </div>
          </div>
          <% if @errors[:user_password].present? %>
            <%= form.label @errors[:user_password].first, class: "text-sm text-red-500" %>
          <% end %>
        </div>
        <div>
          <%= form.label :confirm_password, "Confirm Password", class: "block text-sm font-medium leading-6 text-gray-900" %>
          <div class="relative mt-2 rounded-md shadow-sm">
            <%= form.text_field :confirm_password,id: "confirm_password", type: 'password', value: @user_data[:confirm_password], placeholder: "Re-enter your password", class: "block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-color-600 sm:text-sm sm:leading-6" %>
            <div id="confirm_password_view">
              <i class="fa-regular fa-eye absolute inset-y-0 right-0 flex items-center mr-2 mb-auto mt-auto text-gray-500"></i>
            </div>
          </div>
          <% if @errors[:user_confirm_password].present? %>
            <%= form.label @errors[:user_confirm_password].first, class: "text-sm text-red-500" %>
          <% end %>
        </div>
        <div>
          <%= form.submit "Sign up", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary-color-600 hover:bg-primary-color-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
